<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="myapp">
  <head>
    <title>Bramble</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
  </head>
  <body ng-controller="productController">
    <h1>Bramble</h1>
    <div>CRUD in AngularJS</div>

    <table cellpadding="2" cellspacing="2" border="1">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Option</th>
      </tr>
      <tr ng-repeat="product in listProducts">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.quantity}}</td>
        <td>
          <a href="#" ng-click="del(product.id)">Delete</a> | 
          <a href="#" ng-click="selectEdit(product.id)">Edit</a> | 
        </td>
      </tr>
    </table>

    <h3>Product Information</h3>
    <table cellpadding="2" cellspacing="2" border="1">
      <tr>
        <td>Id</td>
        <td><input type="text" ng-model="id"></td>
      </tr>
      <tr>
        <td>Name</td>
        <td><input type="text" ng-model="name"></td>
      </tr>
      <tr>
        <td>Price</td>
        <td><input type="text" ng-model="price"></td>
      </tr>
      <tr>
        <td>Quantity</td>
        <td><input type="text" ng-model="quantity"></td>
      </tr>
    </table>

    <script type="text/javascript">
          var myapp = angular.module('myapp', []);
          myapp.controller('productController', function ($scope) {
            $scope.listProducts = [
              {id: 'p01', name: 'Product 1', price: 1000, quantity: 20},
              {id: 'p02', name: 'Product 2', price: 2000, quantity: 21},
              {id: 'p03', name: 'Product 3', price: 3000, quantity: 22},
              {id: 'p04', name: 'Product 4', price: 4000, quantity: 23},
            ];

            $scope.del = function (id) {
              var result = confirm('Are you sure?');

              if (result == true) {
                var index = getSelectedIndex(id);
                $scope.listProducts.splice(index, 1);
              }
              // delete index from the array

            };

            // get the index that was selected by id
            function getSelectedIndex(id) {
              for (var i = 0; i < $scope.listProducts.length; i++) {
                if ($scope.listProducts[i].id == id) {
                  return i;
                }
              }
              return -1;
            }
          });
    </script>

  </body>
</html>
