<!DOCTYPE html>

<html ng-app="myapp">
  <head>
    <title>Bramble</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
  </head>
  <body ng-controller="productController">
    <h1>Bramble</h1>
    <div>CRUD in AngularJS</div>

    <table cellpadding="2" cellspacing="2" border="1">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Option</th>
      </tr>
      <tr ng-repeat="product in listProducts">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.quantity}}</td>
        <td>
          <a href="#" ng-click="del(product.id)">Delete</a> | 
          <a href="#" ng-click="selectEdit(product.id)">Edit</a> | 
        </td>
      </tr>
    </table>

    <h3>Product Information</h3>
    <table cellpadding="2" cellspacing="2">
      <tr>
        <td>Id</td>
        <td><input type="text" ng-model="id"></td>
      </tr>
      <tr>
        <td>Name</td>
        <td><input type="text" ng-model="name"></td>
      </tr>
      <tr>
        <td>Price</td>
        <td><input type="text" ng-model="price"></td>
      </tr>
      <tr>
        <td>Quantity</td>
        <td><input type="text" ng-model="quantity"></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
          <input type="button" value="Add" ng-click="add()">
          <input type="button" value="save" ng-click="edit()">
        </td>
      </tr>
    </table>

    <script type="text/javascript" src="js/script.js"></script>

  </body>
</html>
